.subgrid{
  //grid-area: 2 / 1 / 4 / 4;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  border: 5px solid white;
  gap: 5px solid black;
  justify-items: center;
}

.divheader {
  background-color: #1EAAFC;
  background-image: linear-gradient(130deg, #6C52D9 0%, #1EAAFC 85%, #3EDFD7 100%);
  margin: 10px;
  border: 6px solid #171717;
  width: 100%;
  height: 100%;
}

.subgrid > div {
  background-color: #6e828e;
  margin: 10px;
  border: 6px solid #171717;
  width: 100%;
  height: 100%;
  
}

