body
{
    background-color: #333333;
    color: white;
}

.img-centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;

}

/**
 * Wrapper
 */
 .wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}

/**
 * Clearfix
 */
 %clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}