<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/main.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      {% for item in site.data.nav_bar_items %}
      <div class="navbar-brand">
        <a  href="{{ item.path }}"> {{ item.name }}</a>
      </div>
      {% endfor %}
    </nav>
    <h1>{{ page.title }}</h1>
    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>